<div class="same_city_signers">

<a id="return_link_signers" href="/signers"> Return All Signers</a>
<h2>Same City Singers</h2>
{{#allSameCitySigners}}
  {{#if url}}
        <p>
            <a href={{url}}>{{first_name}} {{last_name}}</a>
           
            {{age}}
            
        </p>
    {{else}}
        <p>{{first_name}}
            {{last_name}}
            {{age}}
          
    {{/if}}

{{/allSameCitySigners}}

</div>